:root {
  margin: auto;
  padding: auto;
  font-family: "Zilla Slab", serif;
  color: #FFFFFF;
  background-color: #861109;
}

.headerCustom {
  font-size: 1.7rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8rem;
  text-decoration-line: Underline;
}

.headerCustom a {
  text-decoration: none;
  color: #FFFFFF;
}

.tittle {
  font-size: 5rem;
}

.subtittle {
  font-size: 1.8rem;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  font-style: italic;
}

.text-content {
  text-align: center;
}

img {
  width: 20rem;
  height: auto;
  border-radius: 100px;
  box-shadow: 19px 10px #0f0f0f8a;
}

.informations{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: 600;
}

.buttons-information{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.icon-information {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.my-button {
  font-size: 0.9rem;
  font-weight: 590;
  padding: 0.6rem 2rem;
  border-radius: 0.8rem; 
  border-color: #FFFFFF;
  color: rgb(0, 0, 0);
  box-shadow: 0 14px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
